<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="favicon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/btn_style_1.css">
    <link rel="stylesheet" href="../css/hr_style.scss">
    <link rel="stylesheet" href="../css/fade_in_style.css">
    <link rel="stylesheet" href="../css/info.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .hidden {
            border-style: hidden;
        }
    </style>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.12.4.js">
    </script>
    <title>: 오늘_소개</title>

</head>




<body>
    <div id="page2" class="slide-in">
        <div id="page3" class="slide-in">
            <div class="container">
                <div id="header">
                    <nav>
                        <div class="logo">
                            <a href="../index.html"><img src="../images/dsBuffer.bmp.png"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="./info.html">INFO</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <script type=" text/javascript ">
                $(window).on('scroll', function() {
                    if ($(window).scrollTop()) {
                        $('#header').addClass('active');
                    } else {
                        $('#header').removeClass('active');
                    }
                });
            </script>
            <a href="../index.html"><img src="../images/dsBuffer.bmp.png" class="fade-in-box" style="width:125px; height:125px;"></a>
            <div class="fade-in-box">
                <h1>안녕하세요
                    <p style="color:gray; font-size:large;">
                        <br><br>하루의 이야기를 <b>: 오늘</b> 이곳에 털어놓고 가세요
                        <br> 여러분의 감정을 분석해서 어울리는 노래를 추천해드릴게요
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p style="font-size:small;">제작 : 주재환 강경록 정유정</p>
                    </p>
                </h1>
            </div>

            <br>



            <a href="../index.html">
                <img src="../images/home_circle_icon_137496.png" class="fade-in-box" style="width:50px; height:50px;">
                <a href="../index.html" class="fade-in-box" style="color:gray;">처음으로</a>
            </a>

            <br><br>
            <p style="font-size:small; color:gray;"><br>본 홈페이지는 저작권이 없습니다</p>
        </div>
    </div>
</body>





</html>