<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="favicon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/btn_style_1.css">
    <link rel="stylesheet" href="../css/hr_style.scss">
    <link rel="stylesheet" href="../css/fade_in_style.css">
    <link rel="stylesheet" href="../css/info.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .hidden {
            border-style: hidden;
        }
    </style>

    <link rel="stylesheet" href="../css/wait_roller.css">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="; url=./result.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.12.4.js">
    </script>

    <title>: 분석 중</title>
</head>


<body>

    <div text-align="center" id="loading_image" style="width:100%; height:100%; text-align:center; font-size:12pt; color:gray; font-weight:bold; padding-top:100px;">
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <img src="../images/loading_icon.gif">
        <br>
        <br>잠시만 기다려주세요

    </div>

</body>

</html>